.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  padding-top: 2em;
  margin-bottom: 2em;
}

.logo {
  height: 3em;
  width: 1.5em;
  background-color: #525252;
}

.title-split {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.city-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1em 0;
  place-items: center;
  justify-content: space-between;
}

.city-banner h1 {
  justify-self: start;
}

.city-banner select {
  height: 2em;
  width: 10em;
  justify-self: end;
}

.middle-content {
  display: grid;
  justify-self: flex-start;
  margin-bottom: 4em;
  padding: 0 4em 0;
  grid-template-columns: 3fr 2fr;
  gap: 2em;
}

.strech-self {
  place-self: center stretch;
}

.bar-graph-container {
  /* width: 100%; */
  margin: 1em 0 0;
}

.pie-chart {
  margin-bottom: 4em;
}

.other-metrics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1em;
}
